/* Color scheme */
/* #3581B8 #D6FF79 #26532B #02111B #30292F */
/* Color scheme end */

/* Top navigation */
.navbar {
  background-color: #f0f6fa;
}

.navbar-brand{
  color: #ffffff;
}
/* Top navigation end */

/* Hamburger menu style */
.navbar-toggler{
  border: none;
}

li {
  list-style-type: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: #ffffff;
}


.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* Hamburger menu style end */

.bg-primary {
    background-color: #1689dc !important;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover {
    color: #d6ff79;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #d6ff79;
}

.btn-secondary {
    background-color: #26532b;
}

.btn-secondary:hover {
    background-color: #d6ff79;
    color: #26532b;
    border-color: #d6ff79;
}

.btn-outline-secondary {
    color: #26532b;
}

.btn-outline-secondary:hover {
    background-color: #d6ff79;
    color: #26532b;
    border-color: #d6ff79;
}

.menu-trigger {
    margin-right: 70px;
    margin-bottom: 50px;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}
  
.menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
}
  
.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}
  
.menu-trigger span:nth-of-type(1) {
    top: 0;
}
  
.menu-trigger span:nth-of-type(2) {
    top: 20px;
}
  
.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.active-1 span:nth-of-type(1) {
    -webkit-transform: translateY (20px) rotate (-45deg);
    transform: translateY(20px) rotate(-45deg);
}
  
.menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
}
  
.menu-trigger.active-1 span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }

  .community-button {
    text-align: center;
    text-justify: center;
    background-color: gray;
  }

  #icon-white {
    filter: invert(100%) sepia(9%) saturate(3732%) hue-rotate(276deg)
    brightness(121%) contrast(93%);
    width: 3vw;
    height: auto;
  }

  #top-centre {
    text-align: center;
  }

  #bottom-left {
    position: absolute;
    bottom: 16vh;
    left: 0;
  }

.hazard-img {
  width: 100%;
}

#helpful-text {
  text-align: center;
}

.detail-text {
  font-size: 10pt;
  font-style: italic;
}